@font-face {
  font-family: 'Sabon';
  src: url('./fonts/SabonRoman.woff2') format('woff2'),
      url('./fonts/SabonRoman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('./fonts/FuturaPT-Medium.woff2') format('woff2'),
      url('./fonts/FuturaPT-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}



html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: auto;
  height: 100%;
  min-height: 100%;
  font-family: "Sabon", serif;
  line-height: 1.42857;
  font-size: 17px;
  background-color: rgba(0,0,0,1);
  color: #FFF;
  word-wrap: normal;
  overflow: hidden;
}

.a-section {
  display: flex;
  align-items: center;
  height: 100%;
}

section {
  width: 80%;
  margin: 0 auto;
}

.header {
  margin-top: 0px;
}

.header h1 {
  font-size: 60px;
  font-weight: normal;
  margin-top: 0;
}

.signup-form {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.signup-form form {
  width: 80%;
}

.mt-table--full {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.user-input {
  margin: 12px 0;
}

.user-input .form-group {
  display: flex;
  justify-content: flex-end;
}

.user-input label {
  width: 40%;
  text-align: right;
  margin-right: 24px;
  font-size: 22px;
}

.user-input input {
  -webkit-appearance: none;
  border: none;
  background: none;
  border-bottom: 2px solid #ffffff;
  border-radius: 0;
  font-size: 22px;
  padding-bottom: 12px;
  box-shadow: none;
  width: 70%;
  color: #fff;
  font-family: 'Sabon', serif;
}

.user-input input:focus {
  outline: none;
}

.submit-button-container {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}

.submit-button {
  -webkit-appearance: none;
  border: none;
  background: none;
  font-family: 'Futura', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 48px;
}


.top-right img,
.bottom-left img {
  position: absolute;
  width: 200px;
}

.top-right img {
  top: 10px;
  right: 10px;
}

.bottom-left img {
  bottom: 10px;
  left: 10px;
}

@media all and (max-width:481px) {

 
  
  .header {
    margin-top: 0;
  }

  .header h1 {
    font-size: 36px;
  }

  .top-right img,
  .bottom-left img {
    width: 120px;
  } 

  .signup-form form {
    width: 100%;
  }

  .user-input label {
    width: 40%;
    margin-right: 12px;
    font-size: 18px;
  }
  
  .user-input input {
    border-bottom: 2px solid #ffffff;
    font-size: 18px;
    padding-bottom: 12px;
    box-shadow: none;
    width: 60%;
    color: #fff;
  }

  .submit-button {
    font-size: 28px;
  }
}
